* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: gray;

}

.logo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    padding: 20px 0;
    text-underline-position: none;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style: none;
    position: right;
}

.nav-links a {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    float:right;

}

main { 
    height: 960px;
    width: 100%;
    background-color: whitesmoke;


}

main h2 {
    text-underline-position: none;

}

footer {
    height: 50px;
    width: 100%;
    background-color: gray;
    text-align: center;
    color: white;
}